* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  h1 {
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;
  }
}

article {
  padding: 20px;
  h2 {
    font-weight: 500;
    text-align: center;
    font-style: italic;
  }
}

.gallery {
  padding: 20px;
  .swiper-container {
    width: 100vw;
    border-radius: 20px;
    .swiper-slide {
      img {
        width: 100%;
        min-height: 500px;
        // width: 100vw;
        //  height: 100vh;
        object-fit: cover;
      }
    }
  }
}

.menu {
  z-index: 10;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
  }
  li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
    &:hover {
      display: block;
      background: #ffffff;
      padding: 15px 0 15px 0;
      border-bottom: #dddddd 1px solid;
    }
  }
  ul li a {
    text-decoration: none;
    margin: 0px;
    color: #666;
    &:hover {
      color: #666;
      text-decoration: none;
    }
  }
  a {
    text-decoration: none;
    color: #666;
    &:hover {
      text-decoration: none;
      color: #666;
    }
  }
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #999;
  border: 0;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}