* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  //overflow-x: hidden;
}

.containerMain {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  //  background-color: #ededed;

}

.flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  .containerMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1A1A1A;
  color: white;
  .menuWideScreen {
    display: none;
  }
  h1 {
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;
  }
  @media screen and (min-width: 920px) {
    .containerMain h1 {
      text-align: start;
    }
    .menuWideScreen {
      display: flex;
      ul {
        list-style: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        a {
          padding-left: 10px;
          text-decoration: none;
          li {
            font-size: 1.2rem;
            color: white;
            height: 100%;
            &:hover {
              animation: color-change 1s infinite;
            }
          }
        }
      }

    }
  }
}

article {
  padding: 20px;
  text-align: center;
  h2 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
  }
  .partners {
    text-align: center;
    align-items: center;
    justify-items: center;
    span {
      margin-top: 15px;
      padding: 10px;
    }
  }
}

.containerMain .partners .textIntro {
  line-height: 22px;
  padding: 15px;
  font-size: 1.15rem;
  @media screen and (min-width: 920px) {
    width: 600px;
  }
}

h3 {
  padding-bottom: 15px;
  font-size: 1.3rem;
}

.gallery {
  width: 100%;
  .swiper-container {
    width: 90%;
    border-radius: 20px;
    .swiper-slide {
      img {
        width: 100%;
        min-height: 400px;
        // width: 100vw;
        //  height: 100vh;
        object-fit: cover;
      }
    }
  }
}

.partnerCompany {
  padding: 15px;
  .logo {
    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .fischerLogo {
      text-decoration: none;
      color: #C60076;
      font-size: 30px;
      font-weight: 700;
      font-family: Verdana, Serif;
    }
    i {
      text-decoration: none;
    }
  }
}

.sectionContact {
  span {
    padding: 10px;
  }
}

.sectionServices {
  li {
    list-style: none;
    font-size: 1.15rem;
    font-weight: 500;
    padding-bottom: 5px;
  }
  li:first-of-type {
    padding-top: 10px;
  }
}

hr {
  display: block;
  height: 5px;
  width: 200px;
  border-style: none;
  border-radius: 4px;
  background-color: #1A1A1A;
  margin: 10px auto;
}

footer {
  width: 100%;
  background-color: #1A1A1A;
  font-size: 0.7rem;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  justify-items: flex-end;
  text-align: end;
  padding: 5px;
}

.menu {
  z-index: 10;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  opacity: 0.95;
  position: absolute;
  top: 100%;
  text-align: center;
  font-size: 12px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
  }
  li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 2px solid;
    border-radius: 10px;
    &:hover {
      display: block;
      background: #ffffff;
      padding: 15px 0 15px 0;
      border-bottom: #dddddd 2px solid;
      border-radius: 10px;
    }
  }
  ul li a {
    text-decoration: none;
    margin: 0px;
    color: #666;
    &:hover {
      color: #666;
      text-decoration: none;
    }
  }
  a {
    text-decoration: none;
    color: #666;
    &:hover {
      text-decoration: none;
      color: #666;
    }
  }
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: white;
  border: 0;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  @media screen and (min-width: 920px) {
    display: none;
  }
}

@keyframes color-change {
  0% { color: white; }
  50% { color: deepskyblue; }
  100% { color: white; }
}